.about {
    margin-top: 100px;
    width: 100%;
    height: 297px;
    background: url('../img/st.png') no-repeat left;
    background-color: #fbfbfb;
}

.about-c {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.blue-box2{
    position: absolute;
    top: 46px;
    left: -26px;
    width: 52px;
    height: 13px;
    background-color: #04e4f8;
}
.ac-head {
    position: relative;
    float: left;
    margin-top: 40px;
    width: 120px;
    height: 50px;
    z-index: 9;
}

.ac-p1 {
    font-size: 24px;
    color: #3b3b3b;
}

.ac-p2 {
    margin-top: 10px;
    font-size: 14px;
    color: #c7c7c7;
}

.ac-right {
    position: relative;
    float: right;
    width: 600px;
    height: 100%;
}

.ar-p1,
.ar-p4 {
    font-size: 18px;
    color: #373737;
    font-weight: bold;
}

.ar-p2,
.ar-p3,
.ar-p6,
.ar-p5 {
    font-size: 12px;
    color: #494949;
}

.ri-box1 {
    position: absolute;
    top: 72px;
    left: 0;
    width: 78px;
    height: 37px;
    border-right: 1px solid #494949;
}

.ar-p2,
.ar-p5 {
    margin-top: 6px;
}

.ri-box2 {
    position: absolute;
    top: 72px;
    left: 100px;
    height: 37px;
    width: 406px;
    line-height: 1.5;
}

.ri-box3 {
    position: absolute;
    top: 180px;
    left: 0;
    width: 78px;
    height: 37px;
    border-right: 1px solid #494949;
}

.ri-box4 {
    position: absolute;
    top: 180px;
    left: 100px;
    height: 37px;
    width: 406px;
    line-height: 1.5;
}
