.main {
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    width: 1200px;
    height: 1100px;
}

.ma-head {
    position: relative;
    width: 120px;
    height: 50px;
    z-index: 9;
}

.mh-p1 {
    font-size: 24px;
    color: #3b3b3b;
}

.mh-p2 {
    margin-top: 10px;
    font-size: 14px;
    color: #c7c7c7;
}

.main-pic1 {
    float: left;
    margin-top: 42px;
    width: 380px;
    height: 272px;
    background: url('../img/1.png') no-repeat center;
}

.main-pic2 {
    position: absolute;
    top: 400px;
    right: 0;
    width: 380px;
    height: 272px;
    background: url('../img/2.png') no-repeat center;
}

.main-pic3 {
    position: absolute;
    top: 700px;
    width: 380px;
    height: 272px;
    background: url('../img/3.png') no-repeat center;
}

.main-word1 {
    position: relative;
    float: right;
    margin-top: 148px;
    width: 820px;
    height: 170px;
    text-align: center;
    background-color: #fbfbfb;
}

.main-word2 {
    position: relative;
    float: left;
    margin-top: 130px;
    width: 820px;
    height: 170px;
    text-align: center;
    background-color: #fbfbfb;
}

.main-word3 {
    position: relative;
    float: right;
    margin-top: 130px;
    width: 820px;
    height: 170px;
    text-align: center;
    background-color: #fbfbfb;
}

.mwp1 {
    margin-top: 38px;
    line-height: 1.5;
    font-size: 22px;
    color: #404040;
}

.mwp2 {
    margin-top: 10px;
    line-height: 1.5;
    font-size: 14px;
    color: #626365;
}

.mwp3 {
    margin-top: 38px;
    line-height: 1.5;
    font-size: 22px;
    color: #404040;
}

.mwp4 {
    margin-top: 10px;
    line-height: 1.5;
    font-size: 14px;
    color: #626365;
}

.mwp5 {
    margin-top: 38px;
    line-height: 1.5;
    font-size: 22px;
    color: #404040;
}

.mwp6 {
    margin-top: 10px;
    line-height: 1.5;
    font-size: 14px;
    color: #626365;
}

.box {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 118px;
    transform: rotate(45deg);
}
.blue-box1{
    position: absolute;
    top: 5px;
    left: -26px;
    width: 52px;
    height: 13px;
    background-color: #04e4f8;
}
.box1 {
    left: 200px;
    background-color: rgb(42, 181, 206);
}

.box2 {
    left: 275px;
    background-color: rgb(63, 189, 84);
}

.box3 {
    left: 348px;
    background-color: rgb(206, 68, 206);
}

.box4 {
    left: 436px;
    background-color: rgb(201, 179, 59);
}

.box5 {
    left: 480px;
    background-color: rgb(76, 71, 71);
}

.box6 {
    left: 550px;
    background-color: rgb(216, 62, 69);
}

.box7 {
    left: 216px;
    background-color: rgb(42, 181, 206);
}

.box8 {
    left: 290px;
    background-color: rgb(63, 189, 84);
}

.box9 {
    left: 365px;
    background-color: rgb(206, 68, 206);
}

.box10 {
    left: 423px;
    background-color: rgb(201, 179, 59);
}

.box11 {
    left: 480px;
    background-color: rgb(76, 71, 71);
}

.box12 {
    left: 550px;
    background-color: rgb(216, 62, 69);
}

.box13 {
    left: 200px;
    background-color: rgb(42, 181, 206);
}

.box14 {
    left: 270px;
    background-color: rgb(63, 189, 84);
}

.box15 {
    left: 340px;
    background-color: rgb(206, 68, 206);
}

.box16 {
    left: 426px;
    background-color: rgb(201, 179, 59);
}

.box17 {
    left: 488px;
    background-color: rgb(76, 71, 71);
}

.box18 {
    left: 560px;
    background-color: rgb(216, 62, 69);
}

.main-foot {
    width: 380px;
    height: 62px;
    margin: 0 auto;
    margin-top: 982px;
    border: 3px solid #f2f2f2;
}

.main-foot p {
    text-align: center;
    line-height: 62px;
    color: #8a8989;
}