.route {
    position: relative;
    width: 1200px;
    height: 768px;
    margin: 0 auto;
    margin-top: 100px;
}
.blue-box3{
    position: absolute;
    top: 5px;
    left: -26px;
    width: 52px;
    height: 13px;
    background-color: #04e4f8;
}
.rou-head {
    position: relative;
    z-index: 9;
    width: 120px;
    height: 50px;
}

.rh-p1 {
    font-size: 24px;
    color: #3b3b3b;
}

.rh-p2 {
    margin-top: 10px;
    font-size: 14px;
    color: #c7c7c7;
}

.rou-pic {
    display: block;
    float: left;
    margin-top: 104px;
    width: 400px;
    height: 250px;
    background-color: #fbfbfb;
}

.rou-p4,
.rou-p5,
.rou-p6 {
    margin-top: 0;
}

.rou-p2 {
    background: url('../img/dongjidao.png') no-repeat center;
}

.rou-p4 {
    background: url('../img/jingdu.png') no-repeat bottom;
}

.rou-p6 {
    background: url('../img/xibei.png') no-repeat center;
}

.rp-p {
    font-size: 18px;
    color: #5d5d5d;
    text-align: center;
    margin-top: 109px;
    font-weight: bold;
}

.rp-p1 {
    font-size: 16px;
    color: #999999;
    text-align: center;
    margin-top: 10px;
}

.rou-foot {
    width: 380px;
    height: 62px;
    margin: 0 auto;
    margin-top: 650px;
    border: 3px solid #f2f2f2;
}

.rou-foot p {
    text-align: center;
    line-height: 62px;
    color: #8a8989;
}