.a1.active {
    color: #00daed;
    display: block;
}

.header-c {
    position: relative;
}

.hc-ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 30px;
    width: 86px;
    height: 58px;
    background-color: #f1f2f2;
    text-align: center;
    z-index: 9;
}

.hc-ul a {
    display: block;
    color: #737375;
    width: 86px;
    height: 29px;
    line-height: 29px;
}

.item-1:hover .hc-ul {
    display: block;
}

.hc-ul a:hover {
    color: #00daed;
}