.main {
    position: relative;
    width: 1200px;
    height: 1100px;
    margin: 0 auto;
    margin-top: 100px;
}
.blue-box1{
    position: absolute;
    top: 5px;
    left: -26px;
    width: 52px;
    height: 13px;
    background-color: #04e4f8;
}
.mc-head {
    position: relative;
    z-index: 9;
    float: left;
    margin-top: 0px;
    width: 120px;
    height: 50px;
}

.mc-p1 {
    font-size: 24px;
    color: #3b3b3b;
}

.mc-p2 {
    margin-top: 10px;
    font-size: 14px;
    color: #c7c7c7;
}

.pic {
    float: left;
    width: 350px;
    height: 250px;
    margin-top: 100px;
}

.word {
    position: relative;
    float: left;
    width: 210px;
    height: 250px;
    margin-top: 100px;
}

.pic1 {
    margin-left: -120px;
}

.pic2,
.pic4,
.pic6 {
    margin-left: 80px;
}

.pic1 {
    background: url('../img/2-1.png') no-repeat center;
}

.pic2 {
    background: url('../img/2-2.png') no-repeat center;
}

.pic3 {
    background: url('../img/2-3.png') no-repeat center;
}

.pic4 {
    background: url('../img/2-4.png') no-repeat center;
}

.pic5 {
    background: url('../img/2-5.png') no-repeat center;
}

.pic6 {
    background: url('../img/2-6.png') no-repeat center;
}
.p1{
    font-size: 16px;
    font-weight: bold;
    color: #3a3a3a;
    margin-top: 30px;
    margin-left: 20px;
}
.p2{
    font-size: 14px;
    font-weight: bold;
    color: #727171;
    margin-top: 12px;
    margin-left: 20px;
}
.p3{
    font-size: 14px;
    color: #727171;
    margin-top: 50px;
    margin-left: 20px;
    line-height: 1.5;
}
.p4{
    font-size: 14px;
    color: #727171;
    margin-top: 10px;
    margin-left: 20px;
    line-height: 1.5;
}
.word span{
    display: block;
    position: absolute;
    top: 87px;
    width: 40px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
    color: #474646;
    border: 1px solid #727171;
}
.s1{
    left: 20px;
}
.s2{
    left: 70px;
}
.s3{
    left: 120px;
}