.footer {
    position: relative;
    margin: 0 auto;
    width: 1600px;
    height: 930px;
    background: url('../img/foot-b.png') no-repeat right bottom;
    background-color: #000;
}

.ft-cen {
    float: left;
    width: 320px;
    height: 830px;
}

.ft-cen p {
    float: left;
    writing-mode: vertical-lr;
}

.fc-p1 {
    margin-top: 170px;
    font-size: 48px;
    color: #fff;
    margin-left: 30px;
}

.fc-p2 {
    margin-top: 175px;
    font-size: 19px;
    color: #fff;
    margin-left: 10px;
}

.tel {
    float: left;
    position: relative;
    margin-top: 170px;
    margin-left: 110px;
    width: 260px;
    height: 270px;
}

.tl-p1 {
    font-size: 25px;
    color: #fff;
}

.tl-p2 {
    line-height: 2;
    font-size: 12px;
    color: #fefefe;
}

.p22 {
    margin-top: 40px;
}

.tel a {
    position: absolute;
    width: 14px;
    height: 14px;
}

.wb {
    top: 230px;
    left: 0px;
    background: url('../img/wb.png') no-repeat center;
}

.qq {
    top: 230px;
    left: 40px;
    background: url('../img/qq.png') no-repeat center;
}

.wx {
    top: 230px;
    left: 80px;
    background: url('../img/wx.png') no-repeat center;
}

.tel a:hover {
    background-color: red;
}

.wb.active {
    background-color: red;
}

.inp {
    position: absolute;
    top: 237px;
    width: 200px;
    height: 15px;
    border: none;
    background-color: #000;
    border-bottom: 1px solid #fefefe;
}

.in1 {
    left: 800px;
}

.in2 {
    left: 1010px;
}

.in3 {
    left: 1220px;
}

.in4 {
    position: absolute;
    height: 15px;
    width: 620px;
    top: 300px;
    left: 800px;
    border: none;
    background-color: #000;
    border-bottom: 1px solid #fefefe;
}

.in5 {
    position: absolute;
    height: 30px;
    width: 135px;
    top: 400px;
    left: 800px;
    color: #fefefe;
    background-color: #000;
    border: 1px solid #fefefe;
}