.main {
    overflow: hidden;
    width: 1600px;
    height: 2688px;
    margin: 0 auto;
    background-color: #000000;
}

.box {
    position: relative;
    width: 100%;
    height: 830px;
    margin-top: 66px;
}

.pr-cen {
    float: left;
    width: 320px;
    height: 830px;
}
.pr{
    position: relative;
}
.pra{
    float: left;
    width: 320px;
    height: 830px;
}
.pr-1 {
    background: url(../img/1-1.png) no-repeat center;
}

.pr-2 {
    background: url(../img/1-2.png) no-repeat center;
}

.pr-3 {
    background: url(../img/1-3.png) no-repeat center;
}

.pr-4 {
    background: url(../img/1-4.png) no-repeat center;
}

.pr-1:hover {
    background: url('../img/1-1-hover.png') no-repeat center;
}

.pr-cen p {
    float: left;
    writing-mode: vertical-lr;
}

.pc-p1 {
    margin-top: 80px;
    font-size: 48px;
    color: #fff;
    margin-left: 30px;
}

.pc-p2 {
    margin-top: 85px;
    font-size: 19px;
    color: #fff;
    margin-left: 10px;
}

.pc-ul {
    position: absolute;
    top: 600px;
    left: 40px;
    width: 186px;
    height: 50px;
    text-align: center;
}
.pc-ul li{
    float: left;
    width: 62px;
    height: 20px;
}
.pc-ul a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: #a2a2a2;
}
.pc-ul a:hover{
    color: #fff;
}
.pc-ul-a1.active{
    color: #fff;
}
.re-cen {
    float: left;
    width: 300px;
    height: 830px;
    background-color: #ff0000;
}
.re-cen p {
    float: left;
    writing-mode: vertical-lr;
}
.re-main{
    position: relative;
    float: left;
    margin-left: 10px;
    width: 1289px;
    height: 830px;
}
.re-box1{
    float: left;
    width: 408px;
    height: 545px;
    background: url('../img/lin.png') no-repeat center;
}
.re-box2 {
    float: left;
    margin-left: 40px;
    width: 391px;
    height: 403px;
    background: url('../img/jiaotu.png') no-repeat center;
}
.re-box3 {
    float: left;
    margin-left: 41px;
    width: 408px;
    height: 239px;
    background: url('../img/man.png') no-repeat center;
}
.re-box4 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 408px;
    height: 250px;
    background: url('../img/niu.png') no-repeat center;
}
.re-box5 {
    position: absolute;
    bottom: 0;
    left: 448px;
    width: 391px;
    height: 384px;
    background: url('../img/mao.png') no-repeat center;
}
.re-box6 {
    float: left;
    margin-top: 45px;
    margin-left: 41px;
    width: 408px;
    height: 548px;
    background: url('../img/woman.png') no-repeat center;
}
.re-box1:hover{
    background: url('../img/lin-hover.png') no-repeat center;
}
.re-box2:hover {
    background: url('../img/jiaotu-hover.png') no-repeat center;
}
.re-box3:hover {
    background: url('../img/man-hover.png') no-repeat center;
}
.re-box4:hover {
    background: url('../img/niu-hove.png') no-repeat center;
}
.re-box5:hover {
    background: url('../img/mao-hover.png') no-repeat center;
}
.re-box6:hover {
    background: url('../img/woman-hover.png') no-repeat center;
}
.au-cen {
    float: left;
    width: 300px;
    height: 830px;
}
.au-cen p {
    float: left;
    writing-mode: vertical-lr;
}

.ac-p1 {
    margin-top: 80px;
    font-size: 48px;
    color: #fff;
    margin-left: 30px;
}

.ac-p2 {
    margin-top: 85px;
    font-size: 19px;
    color: #fff;
    margin-left: 10px;
}
.au-box1{
    float: left;
    width: 530px;
    height: 830px;
    background: url("../img/2-1.png") no-repeat left;
}
.au-box2{
    position: relative;
    float: left;
    width: 770px;
    height: 507px;
}
.au-box3{
    position: relative;
    float: left;
    width: 770px;
    height: 323px;
    background: url('../img/2-2.png') no-repeat left;
    background-color: red;
}
.ab-p1{
    position: absolute;
    top: 100px;
    left: 150px;
    font-size: 25px;
    color: #fefefe;
}
.ab-s1{
    position: absolute;
    top: 140px;
    left: 150px;
    width: 107px;
    height: 1px;
    background-color: #fefefe;
}
.ab-p2{
    position: absolute;
    top: 230px;
    left: 150px;
    font-size: 14px;
    line-height: 1.5;
    color: #fefefe;
}
.ab-p3{
    position: absolute;
    top: 350px;
    left: 150px;
    font-size: 6.5px;
    color: #fefefe;
}
.ab-p4{
    position: absolute;
    top: 450px;
    left: 400px;
    font-size: 6px;
    color: #fefefe;
}
.ab-p5{
    position: absolute;
    top: 100px;
    left: 400px;
    font-size: 14px;
    color: #fefefe;
}
.ab-p6{
    position: absolute;
    top: 150px;
    left: 400px;
    font-size: 6.5px;
    color: #fefefe;
}