.footer {
    position: relative;
    width: 1600px;
    height: 830px;
    margin: 0 auto;
    background-color: #000000;
}

.pr-cen {
    float: left;
    width: 312px;
    height: 830px;
}

.pr {
    position: relative;
}

.pra {
    float: left;
    width: 320px;
    height: 830px;
}

.pr-cen p {
    float: left;
    writing-mode: vertical-lr;
}

.pc-p1 {
    margin-top: 80px;
    font-size: 48px;
    color: #fff;
    margin-left: 30px;
}

.pc-p2 {
    margin-top: 85px;
    font-size: 19px;
    color: #fff;
    margin-left: 10px;
}

.pc-ul {
    position: absolute;
    top: 600px;
    left: 40px;
    width: 186px;
    height: 50px;
    text-align: center;
}

.pc-ul li {
    float: left;
    width: 62px;
    height: 20px;
}

.pc-ul a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: #a2a2a2;
}

.pc-ul a:hover {
    color: #fff;
}

.pc-ul-a1.active {
    color: #fff;
}

.box-1 {
    position: absolute;
    width: 671px;
    height: 830px;
    top: 0;
    left: 312px;
    background: url('../img/4-1.png') no-repeat center;
}

.box-2 {
    position: absolute;
    width: 619px;
    height: 830px;
    top: 0;
    left: 981px;
    background-color: #333333;
}

.p1 {
    margin-top: 75px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #adadad;
}

.p2 {
    margin-top: 5px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: bold;
    color: #fff;
}

.p3 {
    margin-top: 5px;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #adadad;
}

.box-3,
.box-4,
.box-5,
.box-6 {
    text-align: center;
    float: left;
    width: 100%;
    height: 207px;
    border-bottom: 1px solid #adadad;
}

.box-3:hover {
    background: url('../img/news-hover.png') no-repeat center;
}

.box-4:hover {
    background: url('../img/news-hover.png') no-repeat center;
}

.box-5:hover {
    background: url('../img/news-hover.png') no-repeat center;
}

.box-6:hover {
    background: url('../img/news-hover.png') no-repeat center;
}