.footer {
    position: relative;
    margin: 0 auto;
    width: 1600px;
    height: 930px;
    background-color: #000;
}
.box1 {
    position: absolute;
    top: 96px;
    left: 116px;
    font-size: 12px;
    color: #7b7b7b;
}

.box2 {
    position: absolute;
    top: 96px;
    left: 286px;
    font-size: 12px;
    color: #ff0000;
}

.box3 {
    position: absolute;
    top: 180px;
    left: 116px;
    font-size: 12px;
    color: #ffffff;
}

.box4 {
    position: absolute;
    top: 200px;
    left: 116px;
    font-size: 12px;
    font-style: italic;
    color: #7b7b7b;
}

.box5 {
    position: absolute;
    top: 230px;
    left: 165px;
    line-height: 1.5;
    font-size: 12px;
    color: #7b7b7b;
}

.box6 {
    position: absolute;
    left: 116px;
    top: 320px;
    line-height: 1.5;
    font-size: 12px;
    color: #7b7b7b;
}

.box7 {
    position: absolute;
    line-height: 1.5;
    left: 116px;
    top: 390px;
    font-size: 12px;
    color: #7b7b7b;
}

.box8 {
    position: absolute;
    line-height: 1.5;
    left: 116px;
    bottom: 100px;
    font-size: 12px;
    color: #7b7b7b;
}

.box9 {
    position: absolute;
    top: 165px;
    right: 120px;
    width: 720px;
    height: 310px;
    background: url('../img/3-1.png') no-repeat center;
}

.box10 {
    position: absolute;
    right: 120px;
    top: 500px;
    width: 720px;
    height: 310px;
    background: url('../img/3-2.png') no-repeat center;
}