.main{
    position: relative;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    margin-top: 53px;
    border-bottom: 1px solid #e5e5e5;
}
.title{
    position: absolute;
    top:10px;
    left: 0;
    font-size: 26px;
    color: #181818;
}
.word{
    position: absolute;
    top: 55px;
    font-size: 14px;
    color: #515151;
}
.w1{
    left: 0px;
}
.w2{
    left: 150px;
}
.w3{
    left: 300px;
}
.w4{
    left: 700px;
}
.ms{
    overflow: hidden;
    height: 123px;
    width: 1200px;
    margin: 0 auto;
}
.ms p{
    margin-top: 30px;
    line-height: 1.5;
    font-size: 15px;
    color: #4c4c4c;
}
.input{
    height: 1222px;
    width: 1200px;
    margin: 0 auto;
    background-color: #e4e4e4;
}
.bot{
    position: relative;
    width: 1200px;
    height: 172px;
    margin: 0 auto;
}
.bot a{
    position: absolute;
    left: 508px;
    top: 40px;
    width: 184px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background-color: #1073d8;
}
.bottom-t{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    border-bottom: 1px solid #a8a8a8;
}
.bp1{
    float: left;
    font-size: 24px;
    color: #181818;
}
.bp2{
    float: left;
    margin-top: 13px;
    margin-left: 15px;
    font-size: 14px;
    color: #a8a8a8;
}
.bottom-m{
    width: 1200px;
    height: 413px;
    margin: 0 auto;
}
.bottom-m a{
    float: left;
    width: 384px;
    height: 293px;
    margin-top: 30px;
}
.pic2,
.pic3{
    margin-left: 24px;
}
.pic1{
    background: url('../img/1.png') no-repeat center;
}
.pic2{
    background: url('../img/2.png') no-repeat center;
}
.pic3{
    background: url('../img/3.png') no-repeat center;
}