.main-top {
    width: 1200px;
    height: 742px;
    margin: 0 auto;
}

.top-pic {
    float: right;
    margin-right: -290px;
    margin-top: 98px;
    width: 901px;
    height: 614px;
    background: url('../img/phone.png') no-repeat center;
}

.top-word {
    float: left;
    margin-top: 200px;
    height: 310px;
    width: 510px;
}

.top-word p {
    margin-left: 31px;
}

.p-title {
    font-size: 30px;
    margin-top: 15px;
    color: #242424;
}

.p-word {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 30px;
    color: #605b5b;
}

.p-ys {
    font-size: 16px;
    margin-top: 42px;
    color: #363636;
}

.kuang {
    position: relative;
    float: left;
    margin-left: 31px;
    width: 329px;
    height: 110px;
    margin-top: 20px;
    border: 1px solid #a3a3a3;
}

.kuang p {
    position: absolute;
    text-align: center;
    font-size: 14px;
    color: #605b5b;
    margin: 0;
    line-height: 36px;
    width: 164px;
    height: 36px;
}

.k-p1 {
    border-right: 1px solid #a3a3a3;
    border-bottom: 1px solid #a3a3a3;
    top: 0;
    left: 0;
}

.k-p2 {
    border-bottom: 1px solid #a3a3a3;
    right: 0;
    top: 0;
}

.k-p3 {
    border-right: 1px solid #a3a3a3;
    border-bottom: 1px solid #a3a3a3;
    left: 0;
    top: 37px;
}

.k-p4 {
    border-bottom: 1px solid #a3a3a3;
    right: 0;
    top: 37px;
}

.k-p5 {
    border-right: 1px solid #a3a3a3;
    left: 0;
    bottom: 0;
}

.k-p6 {
    right: 0;
    bottom: 0;
}

/* 下半部分 */
.main-bo {
    width: 100%;
    height: 712px;
    background-color: #f9f9f8;
}

.bo-c {
    margin: 0 auto;
    width: 1200px;
    height: 712px;
}

.bo-pic {
    float: left;
    margin-left: -290px;
    margin-top: 98px;
    width: 901px;
    height: 614px;
    background: url('../img/web.png') no-repeat center;
}

.bo-word {
    float: right;
    margin-top: 200px;
    margin-right: 35px;
    height: 310px;
    width: 510px;
}

.bo-word p {
    margin-left: 31px;
}

.b-title {
    font-size: 30px;
    margin-top: 15px;
    color: #242424;
}

.b-word {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 30px;
    color: #605b5b;
}

.b-ys {
    font-size: 16px;
    margin-top: 42px;
    color: #363636;
}

.kuang2 {
    position: relative;
    float: left;
    margin-left: 31px;
    width: 329px;
    height: 110px;
    margin-top: 20px;
    border: 1px solid #a3a3a3;
}

.kuang2 p {
    position: absolute;
    text-align: center;
    font-size: 14px;
    color: #605b5b;
    margin: 0;
    line-height: 36px;
    width: 164px;
    height: 36px;
}

.b-p1 {
    border-right: 1px solid #a3a3a3;
    border-bottom: 1px solid #a3a3a3;
    top: 0;
    left: 0;
}

.b-p2 {
    border-bottom: 1px solid #a3a3a3;
    right: 0;
    top: 0;
}

.b-p3 {
    border-right: 1px solid #a3a3a3;
    border-bottom: 1px solid #a3a3a3;
    left: 0;
    top: 37px;
}

.b-p4 {
    border-bottom: 1px solid #a3a3a3;
    right: 0;
    top: 37px;
}

.b-p5 {
    border-right: 1px solid #a3a3a3;
    left: 0;
    bottom: 0;
}

.b-p6 {
    right: 0;
    bottom: 0;
}