.main-h {
    overflow: hidden;
    width: 100%;
    height: 170px;
    background-color: #f7f8f9;
}

.main-h p {
    text-align: center;
}

.mh-1 {
    margin-top: 55px;
    font-size: 32px;
    color: #181818;
}

.mh-2 {
    margin-top: 15px;
    font-size: 14px;
    color: #c3c3c3;

}

.main {
    position: relative;
    width: 1200px;
    height: 1525px;
    margin: 0 auto;
}

.main-1,
.main-2{
    width: 100%;
    height: 441px;
    border-bottom: 1px solid #c3c3c3;
}
.main-3 {
    width: 100%;
    height: 441px;
}
.ui,
.qd,
.ja {
    float: left;
    margin-top: 50px;
    margin-left: 0;
    width: 255px;
    height: 335px;
}

.ui {
    background: url("../img/1-1.png") no-repeat center;
}

.qd {
    background: url("../img/1-2.png") no-repeat center;
}

.ja {
    background: url("../img/1-3.png") no-repeat center;
}

.box {
    float: right;
    margin-top: 44px;
    width: 850px;
    height: 150px;
}

.bo-p1 {
    font-size: 16px;
    font-weight: bold;
    color: #525252;
    line-height: 1.5;
}

.bo-p2 {
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.5;
    color: #525252;
}
.qq{
    position: absolute;
    font-size: 18px;
    color: #525252;
    top: 1660px;
    left: 510px;
}